asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
cloudinary==1.44.1
crispy-bootstrap5==2025.6
Django==5.2.5
django-cloudinary-storage==0.3.0
django-crispy-forms==2.4
django-phonenumber-field==8.1.0
phonenumbers==9.0.12
python-decouple==3.8
requests==2.32.5
sqlparse==0.5.3
