<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'travels:home-page' %}">TravelTogether</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbar"
            aria-controls="topbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topbar">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'travels:countries' %}">Countries</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'travels:locations-all' %}">Cities</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'travels:trips-all' %}">Trips</a></li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'travels:my-trips' %}">My trips</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">My trips</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{% url 'travels:requests' %}">Requests</a></li>
      </ul>

      <form class="d-flex me-2" role="search">
        <input class="form-control" type="search" placeholder="Search trips…" aria-label="Search">
      </form>

      {% if user.is_authenticated %}
        <div class="d-flex gap-2">
          <a class="btn btn-secondary" href={% url 'profile' %}>Profile</a>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light">Logout</button>
          </form>
          <a class="btn btn-primary" href="{% url 'travels:create-trip' %}">Add new trips!</a>
        </div>
      {% else %}
        <div class="d-flex gap-2">
          <a class="btn btn-outline-light" href="{% url 'login' %}">Log in</a>
          <a class="btn btn-primary" href="#">Sign up</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
